<div *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
  
</div>


<div class="btn btn-success" (click)="loadData()">cargar datos</div>

<div class="row" *ngIf="!loading && numbersData.length > 0 else emptyData">
    <h1 class="display-4">Ejercicio 1 arreglo de números</h1>

    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Número</th>
            <th scope="col">Cantidad de ocurrencias</th>
            <th scope="col">primera posicion</th>
            <th scope="col">ultima posicion de arreglo original</th>
            <th scope="col">ultima posicion de arreglo modificado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let number of numbersData;">
            <th scope="row">{{number.index}}</th>
            <td>{{number.number}}</td>
            <td>
              <span class="badge badge-{{number.quantity >= 2 ? 'success': number.quantity == 1 ? 'warning' : 'secondary'}}">
                {{number.quantity}}
              </span>
            </td>
            <td>{{number.firstPosition}}</td>
            <td>{{number.lastPosition}}</td>
            <td>{{numbersData.length + 1}}</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">textarea</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"
              [(ngModel)]="orderedNumbers"></textarea>
          </div>
        </div>
      </div>
</div>

<ng-template #emptyData>
    <h1 class="display-4">No hay registros</h1>

</ng-template>

