<div *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
  
</div>


<div class="btn btn-success" (click)="loadData()">cargar datos</div>

<div class="row" *ngIf="!loading && paragraphsList.length > 0 && !hasError else emptyData">
    <h1 class="display-4">Ejercicio 2</h1>

    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" *ngFor="let letter of helperService.letterInAlphabet">{{letter}}</th>
            <th scope="col">Suma de nuemeros contenidos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of paragraphsList;">
            <th scope="row">{{item.index}}</th>
            <td *ngFor="let letter of item.alphabet" >{{letter.occurrenceNumber}}</td>
            <td>
              <span class="badge badge-success">
                {{item.sumNumbers}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<ng-template #emptyData>
    <h1 class="display-4">No hay registros</h1>

</ng-template>

<div *ngIf="hasError">
  <div class="alert alert-danger" role="alert">
    A  ocurrido un error en la consulta!
  </div>
</div>

