<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"><i class="fas fa-bars"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" 
            [routerLinkActive]="'active'"
            [routerLink]="['/boards']">Ejercicio 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
            [routerLinkActive]="'active'"
            [routerLink]="['/paragraph']">Ejercicio 2</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
